@import url("https://fonts.googleapis.com/css2?family=Mina&display=swap");

%fontfamily {
  font-family: "Mina", sans-serif;
  color: aqua;
}

%title {
  font-size: 2rem;
  color: aqua;
  text-shadow: 0 0 0.2rem #000;
  text-align: center;
}

%subtitle {
  font-size: 1.5rem;
  color: aqua;
  text-shadow: 0 0 0.2rem #000;
  text-align: center;
}

%text {
  font-size: 1rem;
  color: aqua;
}

%button {
  font-size: 1.1rem;
  color: aqua;
  text-shadow: 0 0 0.2rem #000;
  text-transform: uppercase;
}

%button-hover {
  font-size: 1.1rem;
  color: aqua;
  text-shadow: 0 0 0.1rem #ccc;
}

%button-active {
  font-size: 1.1rem;
  color: aqua;
  text-shadow: 0 0 0.2rem #ccc;
}
