#results {
  position: relative;
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem 2rem;
  margin: 0 0 2rem 0;

  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @extend %title;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: auto;
    width: 15%;
    height: 40%;
    border-radius: 1rem;
    background: rgba($color: #0e2a47, $alpha: 0.9);
    box-shadow: 0 0 1rem #fff;

    img {
      width: 25%;
      align-self: center;
      border-radius: 0.2rem;
    }

    p {
      @extend %text;
      padding: 0 0.5rem;
      text-align: center;
    }

    button {
      @extend %button;
      border: none;
      margin: 1rem 0 0 0;
      transition: ease-in-out 0.2s;
      transform: translateX(center);

      &:hover {
        @extend %button-hover;
      }
      &:active {
        @extend %button-active;
      }
    }
  }
}
