@import "../scss/reset";
@import "../scss/fonts";
@import "../scss/details";

html {
  @extend %fontfamily;

  body {
    position: relative;
    user-select: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/bg.svg) top left / cover repeat;

    @media only screen and (max-width: 768px) {
      html {
        font-size: 75%;
      }
    }

    @media only screen and (max-width: 320px) {
      html {
        font-size: 62.5%;
      }
    }
  }
}
